.TodoInsert  {
    display : flex;
    background : #423d3d;
    
    input{
        //기본 스타일 초기화
        backgorund : none; 
        outline: none;
        border: none;
        padding : 0.5rem;
        font-size : 1.1rem;
        line-height: 1.5;
        color : black;
        &::placeholder
        {
            color: #000000;
        }
        flex : 1 ;
        // 버튼을 제외한 영역을 모두 차지하기
    }
    button {
        //기본 스타일 초기화
        background: none;
        outline: none;
        background: #868e96;
        color: white;
        padding-left: rem;
        font-size : 1.5rem;
        display : flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;
         &:hover{
            background : #adb5bd;
         }
    }
}