.left {
    color : rgb(94, 47, 32);
    width: 30%;
    padding: 0px;
    box-sizing: border-box; /* 패딩 포함한 전체 너비 계산 */
    margin-left: 100px;
    .leftLi
    {
        margin-bottom:7px;
    }
}

.leftButton {
    background-color: #6F4E37; /* 커피색 배경 */
    color: #FFF; /* 흰색 글자 */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  /* 마우스 오버 시 스타일 */
  .leftButton:hover {
    background-color: #5A3825; /* 조금 더 진한 커피색 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  
  /* 클릭 시 스타일 */
  .leftButton:active {
    background-color: #43291B; /* 더 진한 커피색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }